*{
    padding: 0;
    margin: 0;
    border: 0;
}

#loading {  
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
.loader {
    position: fixed;
    z-index: 99999  ;
    top: 50%;
    left: 50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #2a2a2a;
    border-right: 5px solid #e32879;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% {transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

body {
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}
.space {
    margin-top: 30px;
}
.wrapper {
    width: 1170px;
    max-width: 100%;
    margin: auto;
    }
.mt-32 {
    margin-bottom: 32px;
}
.flex {
    display: flex;
}
    .side_bar {
        background-color: #2a2a2a;
        width: 40%;
        color: #ffffff;
        position: flex;
    }
        .avatar {
            background: #191919;
            text-align: center;
            padding: 50px 0 50px 0;
        }
        .avatar img {
            height: 215px;
            width: 215px;
            border-radius: 50%;
            border: 7px solid #2a2a2a;       
        }
        .avatar h1 {
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 35px;
        }
        .avatar h1 span { 
            color: #e32879;
        }
        .avatar h4 {
            font-size: 20px;
            margin-top: 10px;
        }
    .infor {
        padding: 0 50px;
        margin-top: 50px;
    }
        .infor-title {
            font-size: 25px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
            .circle_sm {
                width: 32px;
                height: 32px;
                line-height: 32px;
            }
            .circle_med {
                width: 42px;
                height: 42px;
                line-height: 42px;
            }
            .circle {
                font-size: 14px;
                color: #fff;
                background: #e32879;
                border-radius: 50%;
                text-align: center;
                margin-right: 10px;
            }
            .circle_sm_1 {
                width: 38px;
                height: 38px;
                line-height: 38px;
            }
            .infor-title span {
                font-weight: 600;
            }
            .infor-content .about-content p {
                color: #b3b3b3;
                margin-bottom: 15px;
            }
            .color_white {
                background: #ffffff;
                color:  #191919;
            }
            .color_pink {
                background: #191919;
                color: #e32879;
            }
            .infor-content ul {
                list-style: none;
            }
            .infor-content ul li {
                margin-bottom: 20px;
            }
                .adress {
                    font-size: 15px;  
                    line-height: 32px;             
                }
                .email {
                    font-size: 15px;
                    letter-spacing: 2px;
                    line-height: 32px;             
                }
                .phone {
                    font-size: 15px;
                    letter-spacing: 1.5px;
                    line-height: 32px;             
                }
            .tech-skills {
                padding-left: 50px;
            }   
            .per-skills {
                padding-left: 50px;
            }     
            .infor-content p {
                margin-bottom: 6px;
                color: #b3b3b3;
            }
            .hobbies {
                text-align: center;
                padding-bottom: 50px;
            }
    .content {
        width: 60%;
        padding: 70px;
        color: #fff;
        background: #191919;
        border: 5px solid  #e32879;
        border-right: none;
        border-bottom: none;
    }
        .section {
            margin-bottom: 50px;
        }
        .circle_lg {
            width: 60px;
            height: 60px;
            line-height: 60px;
        }
        .color_grey {
            background: #2a2a2a;
            color: #e32879;
        }
        .section-title {
            font-size: 30px;
            text-transform: uppercase;
            margin: 0 0 10px 0;
            font-weight: 600;
        }      
            .section-content {
                padding-left: 90px;
                padding-right: 20px;
            }
            .section-content p {
                margin-bottom: 10px;
                color: #b3b3b3;
            }
            .cv-title h2 {
                font-weight: 100;
                text-transform: uppercase;
                margin-bottom: 8px;
            }
            .cv-time {
                margin-bottom: 16px;
            }
            .cv-time span i {
                margin-right: 10px;
            }
            .cv-content p span {
                color: #fff;
            }